.card { 
  margin: 10%;
}

.img-fluid {

  width: 70%;
  margin: auto;
  display: block;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list-group-item.image-item {
  min-height: 388px;
}

.list-group-item.desc {
  min-height: 72px;
}