.card { 
  margin: 3%;
}

.items {
  padding: 0;
}

.list-group-item.desc {
  min-height: 72px;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.header {
  height: 20vh;
  background-color: lightgray;
  text-align: center;
  font-size: xx-large;
}

form label{
  margin-top: 5vh;
  font-size: x-large;
  display: block;
} 

#header {
  margin: 0;
  padding: 0;
}

.button {
  margin-top: 5vh;
}